* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    background-color: #F5F5F5;
    color: #474747;
}

h1 {
    margin: 0;
}

.main {
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
}

.canvas {
    width: 620px;
    height: 620px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    border: 8px solid #597DB5;
}

.colorpicker-wrapper, .wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 auto;
}

.tile {
    flex: 1 auto;
    cursor: crosshair;
}

.border {
    border-top: 1px solid rgba(68, 68, 68, 0.24);
    border-left: 1px solid rgba(68, 68, 68, 0.24);
}

.column {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.left-column,.right-column {
    max-width: 256px;
    padding: 0 32px;
}


.container {
    gap: 12px;
}


.head {
    margin: 0 auto;
    padding: 48px;
    font-family: 'VT323', monospace;
    font-size: 36px;
    color: #597DB5;
}

.btn {
    cursor: pointer;
    transition: 0.2s;
}

.btn , select{
    padding: 8px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 13px;
    border: 2px solid #597DB5;
    color: #474747;
    background-color: #FDFDFD;
    min-width: 186px;
}

.click {
    background-color: #597DB5;
    color: #fff;
}

.click:hover {
    background-color: #4C6B9C;
    color: #fff;
}

.click:active {
    background-color: #395075;
    border: 2px solid #395075;
}

.active {
    background-color: #597DB5;
    color: #fff;
}

.warning {
    font-size: 12px;
    font-weight: 300;
    color: #FF5842;
}

.colorpicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 38px;
    height: 38px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: #F5F5F5;
}

.colorpicker::-webkit-color-swatch {
    border-radius: 8px;
    border: none;
    border: 2px solid #4C6B9C;
    height: 100%;
    width: 100%;
    padding: 0;
}

.colorpicker::-moz-color-swatch {
    border-radius: 8px;
    border: none;
    border: 2px solid #4C6B9C;
    height: 100%;
    width: 100%;
    padding: 0;
}

.footer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 64px;
    gap: 8px;
    color: #4C6B9C;
    font-size: 16px;
}

strong {
    font-weight: 500;
}

.gh-logo {
    width:32px;
    height:32px;
    display: block;
    background-image: url(./assets/GitHub-Mark-32px.png);
}

canvas {
    display: none;
}

input[type="file"] {
    display: none;
}

.btn-upload {
    text-align: center;
}

.label-small {
    font-size: 11px;
    font-weight: 300;
}

/* Switch toggler */

.switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 48px;
}

.switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 5px;
    content: "";
    height: 18px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 18px;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.icon {
    width: 1rem;
    height: 1rem;
    background-size: cover;
}

.sun {
    background-image: url(./assets/sun.svg);
}

.moon {
    background-image: url(./assets/moon.svg);
}

.theme-toggler {
    display: flex;
    align-items: center;
    gap: 4px;
}